:root{
    --primary-color: rgb(151, 146, 228);
    --secondary-color: rgb(181, 221, 255);
    --secondary-color-dark: rgb(0, 132, 253);
    --space-gap: 2rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 576px;
    width: 100%;
    margin: 0 auto;
}

section{
    padding-top: 40px;
    padding-bottom: 40px;
}

.violet{
    background-color: var(--primary-color);
}


.container-sm{
    padding-left: 40px;
    padding-right: 40px;
    border: 1px solid black;
    margin: auto;
}


.col-max-width{
    width: 100%;
}


.col-first-section{
    background-color: var(--secondary-color);
}

.col-border{
    border-radius: 1.5rem;
}



nav{
    background-color: var(--secondary-color-dark);
    margin-bottom: 1.5rem;
}

.nav-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.style-menu{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}

.card-sm{
    padding: 1.8rem 2.5rem;
}

.card-sm h2{
    font-size: 2rem;
    font-weight: 800;   
    text-align: center;
}

.first-section-title{
    color: var(--secondary-color-dark);
    padding-bottom: 2rem;
}


.card-sm p{
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 500;
}


.btn-container{
    text-align: center;
}

.btn{
    font-size: 1.2rem;
    border-radius: 1.5rem;
    border: none;
    padding: .5rem 4rem;
}


.blue-btn{
    margin-top: 2.5rem;
    color: white;
    background-color: var(--secondary-color-dark);
}

.first-section-img{
    width: 100%;
    object-fit: contain;
}

.inside-right-col .card-sm{
    padding-bottom: 0;
}

.info-card{
    text-align: center;
}

.info-card >i{
    color: var(--secondary-color-dark);
    font-size: 4rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}


.card-sm img{
    display: inline-block;
    width: 100%;
    padding-bottom: 2rem;   
}

.p-text, .title-text-white{
    color: white;
}

.title-text-white, .title-text-dark{
    padding-bottom: 3rem;
}

.special-white-card{
    border: 1px solid white;
    border-radius: 5rem;
    background-color: white;
    text-align: center;
}

.arrow{
    display: inline-block;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 50%;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}






@media screen and (min-width: 768px) {
    body{
        min-width: 768px;
        width: 100%;
    }
    
    .col-m{
        width: calc((100% / 3) - var(--space-gap));
    }

    .col-1-2-m{
        width: calc((100% / 2) - var(--space-gap));
    }

    .col-m-2{
        width: calc(((100% / 3)* 2) - var(--space-gap));
    }
}


@media screen and (min-width: 992px) {
    body{
        min-width: 992px;
        width: 100%;
    }

    .col-1-2-l{
        width: calc((100% / 2) - var(--space-gap));
    }

    .col-l{
        width: calc((100% / 3) - var(--space-gap));
    }
    
    .col-sm{
        display: flex;
    }

    .inside-right-col, .inside-left-col{
        flex-basis: 50%;
    }
}