:root{
    --primary-color: rgb(151, 146, 228);
    --secondary-color: rgb(181, 221, 255);
    --secondary-color-dark: rgb(0, 132, 253);
    --space-gap: 2rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
    
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}

.violet{
    background-color: var(--primary-color);
}


.container-sm{
    padding-left: 40px;
    padding-right: 40px;
    width: 100%;
    margin: 0 auto;
}


.col-max-width{
    width: 100%;
}


.col-first-section{
    background-color: var(--secondary-color);
}

.col-border{
    border-radius: 1.5rem;
}

.col-grow{
    flex-grow: 1;
}

nav{
    background-color: var(--secondary-color-dark);
    margin-bottom: 1.5rem;
}

.nav-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.style-menu{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}

.card-sm{
    padding: 1.8rem 2.5rem;
}

.card-sm h2{
    font-size: 2rem;
    font-weight: 800;   
}

.first-section-title{
    color: var(--secondary-color-dark);
    padding-bottom: 2rem;
}


.card-sm p{
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 500;
}


.btn-container{
    text-align: center;
}

.btn{
    font-size: 1.2rem;
    border-radius: 1.5rem;
    border: none;
    padding: .5rem 4rem;
}


.blue-btn{
    margin-top: 2.5rem;
    color: white;
    background-color: var(--secondary-color-dark);
}

.first-section-img{
    width: 100%;
    object-fit: contain;
}

.inside-right-col{
    display: flex;
    align-items: flex-end;
    margin-bottom: -2rem;
}

.info-card{
    text-align: center;
}

.info-card >i{
    color: var(--secondary-color-dark);
    font-size: 4rem;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
}


.planning-img{
    display: inline-block;
    width: 100%;
    padding-bottom: 2rem;   
}

.p-text, .title-text-white{
    color: white;
}

.title-text-white, .title-text-dark{
    padding-bottom: 3rem;
}

.special-white-card{
    border: 1px solid white;
    border-radius: 5rem;
    background-color: white;
    text-align: center;
}


.arrow{
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: var(--primary-color);
    padding: 1rem;
    border-radius: 50%;
    margin-top: 1rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
}



.title-violet{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.title-violet~p{
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 2rem;
    
}

.violet-card{
    border-radius: 50px;
    color: white;
    text-align: center;
}

.testimonial-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}

.p-violet-card{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.b-padding-card{
    padding-bottom: 2rem;
}

.center-text{
    text-align: center;
}

.padding-text{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.diff-white-card{
    background-color: white;
    border-radius: 1.5rem;
}

.diff-white-card h2, .diff-white-card p {
    padding-bottom: 2rem;
}

.diff-white-card h2{
    color: var(--primary-color);
}

.btn-violet{
    background-color: var(--primary-color);
    color: white;
    padding-top: .8rem;
    padding-bottom: .8rem;
}

.absolute-img{
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 2rem;
}

.icon-absolute{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 6rem;
    color: var(--primary-color);
}

.btn-small-violet{
    color: white;
    background-color: var(--primary-color);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 2rem;
}

.promo-container{
    color: white;

}

.promo-container h2{
    padding-top: 1.2rem;
    padding-bottom: 1rem;
}

.orange-text{
    color: rgb(245, 183, 70);
    font-size: 4rem;
}

.promo-container p{
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.8rem;
}

.btn-white{
    color: var(--primary-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
}



footer{
    background-color:rgb(51, 51, 51) ;
}

.footer-container{
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

.footer-container p {
    font-size: 1rem;
    line-height: 1rem;
}





@media screen and (min-width: 768px) {
    .container-med{
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
    }

    .card-med{
        padding: 0rem 0rem;
    }

    .col-m{
        width: calc((100% / 3) - var(--space-gap));
    }

    .col-1-2-m{
        width: calc((100% / 2) - var(--space-gap));
    }

    .col-m-2{
        width: calc(((100% / 3)* 2) - var(--space-gap));
    }

    .violet-card-med{
        display: flex;
        text-align: left;
        gap: 1rem;  
        align-items: center; 
        padding: 1rem 1rem;    
    }

    .testimonial-img-med{
        width: 200px;
        height: 200px;
    }

    .row-nowrap{
        padding-top: 3rem;
        flex-wrap: nowrap;
    }

    .title-violet-med{
        font-size: 5rem;
    }
    
    .row-nowrap p{
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    

    
}


@media screen and (min-width: 992px) {
    .container-large{
        padding-left: 40px;
        padding-right: 40px;
        width: 100%;
        max-width: 980px;
        margin: 0 auto;
    }


    .col-1-2-l{
        width: calc((100% / 2) - var(--space-gap));
    }

    .col-l{
        width: calc((100% / 3) - var(--space-gap));
    }
    
    .col-sm{
        display: flex;
    }

    .inside-right-col, .inside-left-col{
        flex-basis: 50%;
    }

    .col-flex{
        display: flex;
    }

    .big-text-size{
        font-size: 2.5rem;
    }